<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title> {% block title %} Shoot it Down {% endblock title %}  </title>
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/shoot_app/css/main.css">
  <meta charset="utf-8" />
  <title>Shoot it Down</title>
  
  <link rel="stylesheet" href="/resources/demos/style.css" />
</head>

<body>
<div class="header">
<div class="title">Shoot it Down</div>	
<div class="tagline">
Try and shoot down other peoples ideas</div>
</div>
<div class="horz-line" style="
"></div>
<div class="add-idea-button">
<a href = "/submit/">
<button id="add_idea">Add an Idea</button>
</a>
</div>
{% block content %}{% endblock %}
</body></html>
