<html>
<head>
    <title>Submit An Idea</title>
</head>
<body>
    <h1>Idea</h1>

   {{idea_title}}
   <br>
   {{idea_text}}
   <br>
   
{% for x in comments %}
   {{x.comment_text}}
   <br>
{% endfor %}
<br>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
        </form>

</body>
</html>